.container {
   width: 300px;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   margin: 20px;
   overflow: hidden;
   font-family: polysans, sans-serif;
}

.img {
    max-width: 100%;
    height: auto;
}

.itemContent {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.itemName {
    font-size: 14px;
    font-weight: 600;
    color: #393e46;
}

.button {
    background-color: blue;
    color: white;
    width: 100px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;
}

.buttonContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}